.title{
    margin-top: 100px;
}

span{
    color:#cc3333;
   
}
h1{
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 0;

}
h1{
    color: #2a435d;
    font-size: 50px;
    font-weight: 900;
}
.menu-title{
    font-size: 40px;
    font-family: 'Caveat', cursive;
 }