
  <!-- sub titles -->
<section style="margin-left: 100px;">
  <div class="mt-5">
    <span class="menu-title" >Starters Menu</span>
      <h1>Delicious <span> Starter</span></h1>
  </div>
</section>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of starters" >
                <div class="card h-100 p-2">
                    <!-- Product image-->
                    <img height="250px" class="card-img-top" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                           <a class="anchortag" routerLink="starters-view/{{product.id}}"> <h5 class="fw-bolder"> {{product.name}}</h5></a>
                            <!-- Product price-->
                             {{product.price}}$
                        </div>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-success mb-2">Add</button>

                  </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>